* {
  font-family: "Press Start 2P", cursive;
}
html,
body {
  height: 100%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #a8dadc;
}
.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* div {
  border: 1px solid black;
} */
.flex {
  display: flex;
  gap: 36px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.article {
  height: 100%;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #1d3557;
}
.container-col {
  flex-grow: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  padding-bottom: 20px;
  color: #e63946;
  padding-top: 10px;
}
.sketch {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 500px;
  max-height: 500px;
  background-color: #f1faee;
  width: 500px;
  max-width: 500px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  flex-direction: row;
}
.footer {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #1d3557;
  justify-content: center;
  color: #e63946;
  align-items: center;
  bottom: 0;
}
button {
  background-color: #457b9d;
  color: #f1faee;
  padding: 10px 24px 10px 24px;
  margin: 5px;
  cursor: pointer;
}
.box {
  border-top: 1px solid rgb(156 156 156);
  border-left: 1px solid rgb(156 156 156);
}
.align-icon {
  vertical-align: top;
}
a {
  text-decoration: underline;
  color: #e63946;
}
