/* ~~~~~~ */
/*  Test  */
/* ~~~~~~ */
div {
  border: 1px solid black;
}
.flex {
  display: flex;
  /* height: 100%; */
  gap: 36px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.article {
  height: 100%;
  flex-grow: 5;
  margin-top: 10px;
  margin-bottom: 10px;
  /* justify-self: flex-start; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
}
.heading {
  width: 100%;
}
.container-col {
  flex-grow: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  /* padding-left: 15%; */
  text-align: center;
  font-size: 28px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.sketch {
  /* flex-grow: 10; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 500px;
  width: 500px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  flex-direction: row;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
/* ~~~~~~ */
/* Layout */
/* ~~~~~~ */
* {
  font-family: "Press Start 2P", cursive;
}
html,
body {
  height: 100%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  /* padding: calc(); */
}
